<svg width="{{ width }}" height="{{ height }}" xmlns="http://www.w3.org/2000/svg">
  {% set ns = namespace(char_index = 0) %}
  {% for y in y_positions %}
    {% for x in x_positions %}
      <rect x="{{ x }}" y="{{ y }}" width="{{ grid }}" height="{{ grid }}" 
            fill="none" stroke="black" stroke-width="2"/>
      <line x1="{{ grid//2 + x }}" y1="{{ y }}" x2="{{ grid//2 + x }}" y2="{{ y + grid }}" 
            stroke="gray" stroke-dasharray="3,2"/>
      <line x1="{{ x }}" y1="{{ grid//2 + y }}" x2="{{ x + grid }}" y2="{{ grid//2 + y }}" 
            stroke="gray" stroke-dasharray="3,2"/>
      <line x1="{{ x }}" y1="{{ y }}" x2="{{ x + grid }}" y2="{{ y + grid }}" 
            stroke="gray" stroke-dasharray="3,2"/>
      <line x1="{{ x + grid }}" y1="{{ y }}" x2="{{ x }}" y2="{{ y + grid }}" 
            stroke="gray" stroke-dasharray="3,2"/>
      {% if ns.char_index < text_list | length %}
      <text x="{{ grid//2 + x }}" y="{{ grid//2 + y }}" 
            font-family="{{ font }}" font-size="{{ font_size }}" 
            fill="{{ font_color }}" opacity="{{ font_opacity }}" 
            text-anchor="middle" dominant-baseline="central">
        {{ text_list[ns.char_index] }}
      </text>
      {% endif %}
      {% set ns.char_index = ns.char_index + 1 %}
    {% endfor %}
  {% endfor %}
</svg>
